/* app css stylesheet */

.jeopardy-board {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0015a0;
  color: #ffffff;
  font-family: "Fjalla One", sans-serif;
  text-shadow: 4px 4px #000000;
}

.board-modal-open .modal-body > div {
  font-family: 'Heebo', serif;
  font-weight: 700;
}

.jeopardy-board .board-row {
  height: calc(16.67% - 13px);
}

.jeopardy-board .fj-row {
  height: 100%;
}

.jeopardy-board .category-row {
  border-bottom: 3px solid black;
}

.jeopardy-board .board-cell {
  height: 100%;
  border: 3px solid black;
}

.jeopardy-board .board-cell > div,
.board-modal-open .modal-body > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  margin: 0 auto;
}

.jeopardy-board .category-cell {
  /* font-size: 290%; */
  font-size: 2vw;
}

.jeopardy-board .category-cell > div {
  width: 100%;
}

.jeopardy-board .fj-cell {
  font-size: 600%;
}

.jeopardy-board .fj-cell .player-name,
.jeopardy-board .fj-cell .player-score {
  font-size: 66.67%;
}

.jeopardy-board .clue-cell {
  color: #fff;
  /* font-size: 600%; */
  font-size: 5vw;
}

.board-modal-open .modal-dialog {
  width: 95%;
  height: 90%;
}

.board-modal-open .modal-content {
  background: #0015a0;
  color: #ffffff;
  font-family: "Kadwa", serif;
  font-size: 500%;
  text-shadow: 4px 4px #000000;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
}

.board-modal-open .modal-body {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.board-modal-open .carousel img {
  min-height: 700px;
  max-height: 700px;
  margin: 0 auto;
}

.board-modal-open .carousel-caption {
  left: 3%;
  right: 3%;
  font-size: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.player-name {
  font-family: "Heebo", serif;
  text-transform: uppercase;
}

.player-score {
  font-family: "Fjalla One", sans-serif;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  margin-bottom: 2rem;
}

.panel .label {
  float: none;
  margin-bottom: 1rem;
  font-size: 100%;
}

.panel .panel-body {
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.navbar-btn {
  margin-right: 2px;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name {
  font-size: 40px;
  font-weight: 700;
}

.player-ind-score {
  font-family: 'Oxanium';
  font-weight: 700;
  font-size: 30px;
}

.player-name-score {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.show-control {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffcc00;
  margin-right: 15px;
  -webkit-filter: drop-shadow(4px 4px 0px black);
          filter: drop-shadow(4px 4px 0px black);
}

.score-row {
  padding: 1rem;
}